form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
    border-radius: 10px;
    margin-top: 50px; 
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
  }
  
  input[type="submit"] {
    background-color: #6c0148;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  input[type="submit"]:hover {
    background-color: #dc14ff;
  }

  .img-fondo {
    background-image: url(../enlaces/ladovformulario.avif); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #f5f5f5; 
  }

 .img-reservas {
    background-image: url(../enlaces/ladovReservas.avif); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #bb2dc8; 
  }
  
 
  // diseño de formulario