$color-principal: #ea60d8b7;
$navbar-link-color: #fff;
$section-padding: 50px;
$image-border-radius: 50%;
$image-max-width: 40px;
$video-gap: 10px;
$video-border-radius: 40px;
$titulos-font-size: 3rem;
$titulos-font-weight: bold;
$titulos-background: radial-gradient(circle at 50% 150%, #b034bb, #fc4aff, #fb99fd);
$whatsapp-float-size: 60px;
$whatsapp-float-bg: #25D366;
$primary-color: #ea60d8b7;
$heading-gradient-colors: #b034bb, #fc4aff, #fb99fd;
$button-gradient-colors: #6c0148, #dc14ff;