
.contenedorDeVideo {
    margin: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $video-gap;
    @media (max-width: 768px) {
      grid-template-columns: 1fr; 
    gap: 10px; 
    object-fit: contain; 
    height: auto; 
    }
  }
  
  .videos {
    position: relative;
    width: 100%;
    border-radius: $video-border-radius;
    box-shadow: auto rgba(0, 0, 0, 0.2);
  }
  
  .videos video {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .videos video:focus {
    outline: none;
  }
  